<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
	<testsuites>
		<testsuite name="Unit Tests">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./inc</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="./coverage"/>
	</logging>
</phpunit>
